h1,
h3 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #7fecff;
}
/* start navigation bar styling */

/* end navigation bar styling */

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

.text {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.work {
    color: whitesmoke;
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    color: whitesmoke;
}
