body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 10%;
    background: url('../images/library\ 1.jpg');
}


/* Style the header with a grey background and some padding */

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}


/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}