body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 10%;
    background: url('../images/library\ 1.jpg');
}


/* Style the header with a grey background and some padding */

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}